.policy-header {
  text-align: center;
  font-size: 50px;
}
.policy-container {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px 40px;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  max-width: 1000px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-items: start;
}
.agree-policy {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.button__next {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-items: end;
}
.policy-item {
  margin-bottom: 10px;
}
.policy-name {
  margin-bottom: 10px;
  font-size: 30px;
}
.policy-context {
  margin-bottom: 10px;
}
.policy-title {
  margin-bottom: 10px;
}
.agree-policy {
  text-align: center;
}
.button-next {
  align-self: flex-end;
}
